* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.rounded-circle {
  border: 3px solid orange ;
  margin-bottom: 1em;
}
.btn {
  padding: 0;
}
h5 {
  display: inline;
}
.expertness {
  color: orangered;
  margin: 0.5em 0;
}
h3 {
  margin: 2rem 0;
}
.content1 {
  margin: 2em 0;
}
.status i {
  color: springgreen;
  position: relative;
  top: -170px;
  left: 85px;
}
.degree {
  color: #fff;
  position: relative;
  top: -183px;
  left: 42px;
}
