@()
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Scala</td>
            <td>Logo_Name</td>
            <td>
                <a class="add mr-3" title="Add" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
                <a class="mr-3 edit" title="Edit" data-toggle="tooltip" ><i class="fas fa-pen-alt"></i></a>
                <a class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>
