@()
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>№</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Login</th>
        <th>Password</th>
        <th>Created Date</th>
        <th>Photo</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Maftunbek</td>
        <td>Raxmatov</td>
        <td>Prince</td>
        <td>dddwa_DWad$wa23&^%wdTUwad</td>
        <td>30.01.2020</td>
        <td><img width="50" src="@routes.Assets.versioned("images/admin_page/admin.png")" alt=""></td>
        <td>
          <a class="add mr-3" title="Add" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
          <a class="mr-3 edit" title="Edit" data-toggle="tooltip" ><i class="fas fa-pen-alt"></i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
