
@()
    <hr>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/contactUs/contactUs.css")">
    <div class="div1">
        <div class="row">
            <div align="center" class="offset-2 col-md-8 div5">

                <h3>CONTACT US</h3>

                <p>Lorem ipsum dolor sit amet, Ad asperiores cum ipsum laboriosam laborum natus neque, numquam quasi reiciendis repellat sit sunt temporibus. At in nostrum quod?</p>
            </div>

            @*col-md-5*@

            <div class="offset-2 col-md-5">

                <div class="div2">
                    <input type="text" placeholder="Full Name" class="form-control input1">

                    <input type="text" placeholder="Email Id" class="form-control input1">

                    <input type="text" placeholder="Subject" class="form-control input1">

                    <textarea cols="30" rows="5" class="form-control textarea1"></textarea >

                    <button class="btn btn-dark form-control button1">SEND</button>
                </div>

            </div>


            @*col-md-3*@


            <div class="col-md-3 div3">
                <div>

                    <a class="fa fa-search-location">Address</a>
                    <p>Muhammad Al-Xorazmiy ko'chasi 110-Uy</p>

                </div>

                <div class="div4">

                    <a class="fa fa-phone">Phone</a><br>
                    <a href="" class="">998991234567</a><br>
                    <a href="" class="">998991234567</a>

                </div>

                <div class="div4">

                    <a class="fa fa-mail-bulk">Email</a>
                    <p>Fax: 23250004 </p>
                    <p>Email: scala_developergmail.ru</p>

                </div>

            </div>
        </div>

    </div>


