@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("Top Performers", webJarsUtil) {

  <body>
    <div class="container-fluid">
      <h3 class="text-center"><strong>Top Performers</strong></h3>
      <div class="row content1">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person1.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person2.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person3.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row content1">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person4.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person2.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person1.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row content1">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person2.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row ">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person3.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="@routes.Assets.versioned("images/person4.jpg")" alt="" class="rounded-circle img-fluid" style="max-width: 150px;">
              <div class="status">
                <i class="fas fa-comment fa-3x"></i>
                <span class="degree"><strong>83%</strong><span>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Johndon Bonsen [bestsoft] <button class="btn btn-dark btn-sm">PROFI</button></h5>
              <p class="expertness"><strong>iOS</strong></p>
              <p>
                Lorem ipsum dolor sit amet.<br>
                Lorem ipsum dolor sit amet consectetur adipisicing.
                Lorem ipsum dolor sit.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>



}
