@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@import views.html.main
@main("Profile", webJarsUtil) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profile.css")">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 text-center  bg-primary fixed-right">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <img src="@routes.Assets.versioned("images/person4.jpg")" alt="" class="rounded-circle text-center img-fluid">
          </div>
        </div>

        <ul class="menu text-white">
          <li><a href="#">About</a></li>
          <li><a href="#">Experience</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Skills</a></li>
          <li><a href="#">Awards</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-10 main-content  pl-0 pr-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <p id="fullName">
                <span class="name"><strong>Johndon</strong></span><span
              class="surname text-primary"><strong>Bonsen</strong></span>
              </p>
              <h6>The next big idea is waiting for its next big changer with <span class="text-primary">themsbit</span>
              </h6>
              <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ab consequuntur officiis, commodi deserunt nobis illo ratione hic
                laudantium accusantium? Facere incidunt magnam quasi repellendus nisi,
                voluptates fuga enim doloremque soluta culpa ad assumenda commodi ab.
              </p>
              <div class="brands">
                <a href="https://www.facebook.com"><i class="fab fa-facebook fa-2x text-dark"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter fa-2x text-dark"></i></a>
                <a href="https://www.telegram.me"><i class="fab fa-telegram fa-2x text-dark"></i></a>
                <a href="https://www.github.com"><i class="fab fa-github fa-2x text-dark"></i></a>
                <a href="https://www.skype.com"><i class="fab fa-skype fa-2x text-dark"></i></a>
              </div>
            </div>

            <div class="col-md-6">
              <img src="@routes.Assets.versioned("images/gentleman.png")" alt="" class="img-fluid gantleman">
            </div>
          </div>
        </div>
        <div class="container-fluid bg-light">
          <div class="row">
            <section class="resume-section p-3 p-lg-5 " id="experience">
              <div class="row my-auto">
                <div class="col-12">
                  <h2 class="  text-center">Experience</h2>
                  <div class="mb-5 heading-border"></div>
                </div>
                <div class="resume-item col-md-6 col-sm-12 ">
                  <div class="card mx-0 p-4 mb-5" style="border-color: #17a2b8; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                    <div class=" resume-content mr-auto">
                      <h4 class="mb-3"><i class="fa fa-globe mr-3 text-info"></i> Senior Web Developer</h4>
                      <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">March 2019 - Present</span>
                    </div>
                  </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12">
                  <div class="card mx-0 p-4 mb-5" style="border-color: #ffc107; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                    <div class="resume-content mr-auto">
                      <h4 class="mb-3"><i class="fa fa-laptop mr-3 text-warning"></i>  Web Developer</h4>
                      <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">December 2018 - March 2019</span>
                    </div>
                  </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12">
                  <div class="card mx-0 p-4 mb-5" style="border-color: #28a745; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                    <div class="resume-content mr-auto">
                      <h4 class="mb-3"><i class="fa fa-camera mr-3 text-success"></i> Junior Web Designer</h4>
                      <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">July 2017 - December 2018</span>
                    </div>
                  </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12">
                  <div class="card mx-0 p-4 mb-5" style="border-color: #2196f3; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);">
                    <div class="resume-content mr-auto">
                      <h4 class="mb-3"><i class="fa fa-area-chart mr-3 text-primary"></i> Web Design Intern</h4>
                      <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                    </div>
                    <div class="resume-date text-md-right">
                      <span class="text-primary">September 2018 - June 2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
      </div>
    </div>

  </div>
}
